@page
@model CoopApp.CheckOutModel
@{ ViewData["Title"] = "CheckOut"; }

<h2 style="glyph-orientation-horizontal">Check-Out</h2>

<form method="post">
    <h3>Please, enter you  information</h3>


    <div class="form-group">
        <label>Vælg kunde</label><select asp-for="@Model.kunde.Navn" class="form-control">
            @foreach (var item in Model.Kunder)
            {
                <option value="@item.Navn">@item.Navn</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Id:</label><input asp-for="@Model.kunde.MedlemsID" class="form-control" />
    </div>


    <div class="form-group">
        <label>Levering:</label><input type="Radio" asp-for="@Model.kunde.Section" value="Levering" class="form-control" />
        <label>Afhentning:</label><input type="Radio" asp-for="@Model.kunde.Section" value="Afhentning" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>

