@page
@model CoopApp.AllStatisticModel
@{
    ViewData["Title"] = "Statistic";
}


<style>
    tbody {
        text-align: center;
        color: blueviolet
    }
</style>

<h1> Statistic </h1>
<table class="table">
    <thead>
        <tr>
            <th>Navn </th>
            <th>Adresse</th>
            <th>Medlems ID</th>
            <th>Post Nummer</th>
            <th>Order ID</th>
            <th>DateTime</th>
            <th>PostNummer</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Orders.Count != 0)
        {
            @foreach (var item in Model.Orders)
            {
        <tr>
            <td>
                @item.Navn
            </td>
            <td>
                @item.Adresse
            </td>
            <td>
                @item.MedlemsID
            </td>
            <td>
                @item.PostNR
            </td>
            <td>
                @item.OrderID
            </td>
            <td>
        </tr>
            }
        }
    </tbody>
</table>


<h5>The number of Orders is : @Model.Orders.Count</h5>
