@page
@model CoopApp.AdminAllFoodsModel
@{
    ViewData["Title"] = "AdnimMenu";
}

<h1>Admin menu</h1>

<p>
    <a asp-page="CreateFood">Tilføj varer</a>
</p>

<h5>Nummer af varer : @Model.Foods.Count</h5>


<table class="table">
    <thead>
        <tr>
            <th>VareNummer</th>
            <th>Navn</th>
            <th>Pris</th>
            <th>Producent</th>
            <th>SidsteSalgsDato</th>
            <th>Fedt</th>
            <th>Kulhydrat</th>
            <th>Protein</th>
            <th>ImageName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foods)
        {
        <tr>
            <td>@item.Value.VareNummer</td>
            <td>@item.Value.Navn</td>
            <td>@item.Value.Pris</td>
            <td>@item.Value.Producent</td>
            <td>@item.Value.SidsteSalgsDato</td>
            <td>@item.Value.Fedt</td>
            <td>@item.Value.Kulhydrat</td>
            <td>@item.Value.Protein</td>
            <td><img src="~/Images/@item.Value.ImageName" width="60" height="70"></td>
            <td>
                <p>
                    <a asp-page="UpdateFood" asp-route-VareNummer="@item.Value.VareNummer">Edit</a> |
                    <a asp-page="DeleteFood" asp-route-VareNummer="@item.Value.VareNummer">Delete</a>
                </p>
            </td>
        </tr>}
    </tbody>

</table>

