@page
@model CoopApp.AdminAllFoodsModel
@{
    ViewData["Title"] = "AdnimMenu";
}

<h1>Admin menu</h1>

<p>
    <a asp-page="CreateFood">Tilføj varer</a>
</p>

<h5>Nummer af varer : @Model.Foods.Count</h5>


<table class="table">
    <thead>
        <tr>
            <th>VareNummer</th>
            <th>Navn</th>
            <th>Pris</th>
            <th>Producent</th>
            <th>SidsteSalgsDato</th>
            <th>Fedt</th>
            <th>Kulhydrat</th>
            <th>Protein</th>
            <th>ImageName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foods)
        {
        <tr>
            <td>
                @item.VareNummer
            </td>
            <td>
                @item.Navn
            </td>
            <td>
                @item.Pris
            </td>
            <td>
                @item.Producent
            </td>
            <td>
                @item.SidsteSalgsDato
            </td>
            <td>
                @item.Fedt
            </td>
            <td>
                @item.Kulhydrat
            </td>
            <td>
                @item.Protein
            </td>
            <td>
                <img src="~/Images/@item.ImageName" width="60" height="70">
            </td>
            <td>
                <p>
                    <a asp-page="UpdateFood" asp-route-id="@item.VareNummer">Edit</a> |
                    <a asp-page="DeleteFood" asp-route-id="@item.VareNummer">Delete</a>
                </p>
            </td>
        </tr>}
    </tbody>

</table>

