@page "{VareNummer}"
@model CoopApp.UpdateFoodModel

@{ ViewData["Title"] = "UpdateFood"; }

<h1>EditPizza</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Food.VareNummer" class="control-label"></label>
        <input hidden="hidden" asp-for="@Model.Food.VareNummer" class="form-control" />
        <span asp-validation-for="@Model.Food.VareNummer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Food.Navn" class="control-label"></label>
        <input asp-for="@Model.Food.Navn" class="form-control" />
        <span asp-validation-for="@Model.Food.Navn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Food.Pris" class="control-label"></label>
        <input asp-for="@Model.Food.Pris" class="form-control" />
        <span asp-validation-for="@Model.Food.Pris" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Food.Producent" class="control-label"></label>
        <input asp-for="@Model.Food.Producent" class="form-control" />
        <span asp-validation-for="@Model.Food.Producent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Food.SidsteSalgsDato" class="control-label"></label>
        <input asp-for="@Model.Food.SidsteSalgsDato" class="form-control" />
        <span asp-validation-for="@Model.Food.SidsteSalgsDato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


