@page
@model CoopApp.AllKunderModel
@{ ViewData["Title"] = "CreateKunde"; }

<style>
    tbody {
        text-align: center;
        color: blueviolet
    }
</style>


<h1> Admin kunder </h1>

<p>
    <a asp-page="CreateKunde">Tilføj kunde</a>
</p>

<h5>Nummer af kunder: @Model.Kunder.Count</h5>

<table class="table">
    <thead>
        <tr>
            <th>Navn </th>
            <th>Adresse</th>
            <th>MellemsID</th>
            <th>Post Nummer</th>
            <th>Mail</th>
            <th>Telefon</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Kunder.Count != 0)
        {
@foreach (var item in Model.Kunder)
{
<tr>
    <td>
        @item.Navn
    </td>
    <td>
        @item.Adresse
    </td>
    <td>
        @item.MedlemsID
    </td>
    <td>
        @item.Postnummer
    </td>
    <td>
        @item.Mail
    </td>
    <td>
        @item.Telefon
    </td>
    <td>
        @item.Password
    </td>
    <td>
    </td>
</tr>
}}
    </tbody>
</table>